language: generic

sudo: required
services:
  - docker

before_install:
  - docker build -t adamstomas/udemy-practical -f Dockerfile.dev .

script:
  - docker run -e CI=true adamstomas/udemy-practical npm run test
